<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<processors>
			<confirmPasswordRecovery argsType="Sitecore.Pipelines.PasswordRecovery.PasswordRecoveryArgs">
				<processor mode="on" type="Sitecore.Pipelines.PasswordRecovery.VerifyUsername, Sitecore.Kernel" />
				<processor mode="on" type="Sitecore.Pipelines.PasswordRecovery.GeneratePassword, Sitecore.Kernel" />
				<processor mode="on" type="Sitecore.Pipelines.PasswordRecovery.PopulateMail, Sitecore.Kernel" />
				<processor mode="on" type="Sitecore.Pipelines.PasswordRecovery.SendPasswordRecoveryMail, Sitecore.Kernel" />
			</confirmPasswordRecovery>
			<passwordRecovery argsType="Sitecore.Pipelines.PasswordRecovery.PasswordRecoveryArgs">
				<processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.GeneratePassword, Sitecore.Kernel']"
				mode="on" type="CustomPasswordRecovery.Pipeline.PasswordRecovery.GenerateToken, CustomPasswordRecovery" />
				<processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.PopulateMail, Sitecore.Kernel']"
				mode="on" type="CustomPasswordRecovery.Pipeline.PasswordRecovery.PopulateConfirmMail, CustomPasswordRecovery" />
			</passwordRecovery>
		</processors>
		<settings>
			<setting name="CustomPasswordReset.maxAllowedResetAttempts" value="2" />
			<setting name="CustomPasswordReset.evaluationRangeInHours" value="1" />
		</settings>
	</sitecore>
</configuration>